*.log
__pychache__
*.png
*.csv
*.zip
.vscode
.ipynb_checkpoints
.DS_Store
build
__pycache__
docs/build
tests/__pycache__
rk4_for_condensation_odes/build/CMakeFiles
rk4_for_condensation_odes/.vscode
rk4_for_condensation_odes/__pycache__
rk4_for_condensation_odes/build
version1_OG/__pycache__
version1_OG/bin
version2/build
version2/.vscode
version2/plotting_notebooks/__pycache__
